body{
    margin: 0;

}

/* Nav section begins */
.nav {
    height: 50px;
    width: 100%;
    background-color: RGB(126,131,125);
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: transparent;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }

    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

/* Nav section ends */


/* HERO SECTION BEGINS */

.hero{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content:space-between;

}

.hero-container{
    margin-top: 30px;
    width: 75%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.hero-container-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 50%;
}

.hero-container-1-content{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    position: relative;

}

.heading-1{
    font-family: 'Square Peg', cursive;
    font-weight: bold;
    font-size: 4rem;
    width:100%;
    margin-bottom: -50px; 
    opacity: 50%;

}

.heading-2{
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 110px;
    height: 30%;
    width: 100%;
}

.heading-hr{
    background-color: black;
    width: 80%;
    margin-top: -15px;
}

.hero-paragraph{
    height: 20%;
    width: 100%;
    margin-top: 30px;
}

.hero-button-container{
    width: 100%;
}

.hero-button{
    border: 2px solid rgb(14, 1, 1);
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container-2{
    height: 90%;
    width: 48%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.hero-image-1-container{
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image-1{
    width: 90%;
    height: 100%;
   
}

.image-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-image-2-container, .hero-image-3-container{
      width: 100%;
      height: 48%;
      display: flex;
      justify-content: center;
}

.hero-image-2, .hero-image-3{
    width: 100%;
    height: 100%;
}

.hero-blurb{
    background-color: RGB(128,130,127);
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blurb-hr{
    width: 15%;
    background-color: #eee;

}

.blurb-paragraph{
    color: white;
    width: 50%;
    text-align: center;
}

    /* MEDIA BREAK 1100px STARTS*/
 @media screen and (max-width: 1100px) {

 .hero{
     height: 90vh;
 }
  
  .hero-container{
      width: 90%;
      height: 65%;
  }
     
.hero-container-1{
    height: 90%;
    width: 25rem;
}

.hero-container-1-content{
    width: 24rem;
    height: 80%;
     margin-left: 40px;

 }

.heading-1{
    font-size: 3.5rem;
    margin-bottom: -40px; 

}

.heading-2{
    font-size: 100px;
}

.heading-hr{
    width: 100%;
    margin-top: -15px;
}


.hero-container-2{
    height: 80%;
    width: 45%;
}

.hero-blurb{
    height: 18%;
}

.blurb-hr{
    width: 15%;
}

.blurb-paragraph{
    width: 60%;
}
 }
 /* MEDIA BREAK 1200px ENDS*/
      
    
 /* MEDIA BREAK TABS STARTS*/
@media screen and (max-width: 768px) {

 
    .hero{
        height: 90vh;
    }
     
     .hero-container{
         width: 90%;
         height: 70%;
     }
        
   .hero-container-1{
       height: 80%;
       width: 46%;
       padding: 5px;
   }
   
   .hero-container-1-content{
       padding: 5px;
       width: 24rem;
       height: 80%;
        margin-left: 20px;
   
    }
   
   .heading-1{
       width: 80%;
       font-size: 3.5rem;
       margin-bottom: -40px; 
   
   }
   
   .heading-2{
       height: 40%;
       width: 80%;
       font-size: 4.5rem;
   }
   
   .heading-hr{
       width: 100%;
       margin-top: -12px;
   }

   .hero-paragraph{
    width: 80%;
    margin-top: 0;
   }

.hero-button-container{
    width: 80%;
}

.hero-button{
    width: 40%;
    height: 40px;
}
   
   
   .hero-container-2{
       height: 70%;
       width: 50%;
   }
   
.hero-image-1-container{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image-1{
    width: 90%;
    height: 95%;
   
}

.image-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hero-image-2-container, .hero-image-3-container{
      width: 100%;
      height: 45%;
      display: flex;
      justify-content: center;
}

.hero-image-2, .hero-image-3{
    width: 100%;
    height: 100%;
}

.hero-blurb{
    height: 20%;
}

.blurb-hr{
    width: 15%;
    margin-top: 10px;
}

.blurb-paragraph{
    margin-top: 5px;
    height: 80%;
    width: 70%;
} 
    }
     /* MEDIA BREAK TABS ENDS*/
    
    
 /* MEDIA BREAK MOBILE STARTS*/
    @media screen and (max-width: 480px) {
        .hero{
            height: 110vh;
            max-width: 480px;
            flex-direction: column;
            align-items: center;
        }

        .hero-container{
            width: 95%;
            height: 90%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: -50px;
        }

        .hero-container-1{
            height: 50%;
            width: 98%;
            padding: 5px;
            margin-top: 15px;
        }
        
        .hero-container-1-content{
            padding: 5px;
            width: 100%;
            height: 80%;
           position: unset;
           margin-left: 0 ;
         }
        
        .heading-1{
            text-align: start;
            width: 100%;
            font-size: 2.5;
            margin-bottom: -40px; 
        
        }
        
        .heading-2{
            text-align: center;
            height: 35%;
            width: 100%;
            font-size: 3.5rem;
        }
        
        .heading-hr{
            width: 100%;
            margin-top: -10px;
        }
     
        .hero-paragraph{
         width: 95%;
         margin-top: -15px;
         text-align: center;
        }
     
     .hero-button-container{
         width: 99%;
         margin-top: 25px;
         display: flex;
         justify-content: center;
     }
     
     .hero-button{
         width: 50%;
         height: 30px;
         font-size: 18px;
     }
        
        
        .hero-container-2{
            height: 40%;
            width: 100%;
            margin-top: -10px;
        }
        
     .hero-image-1-container{
         width: 50%;
         height: 100%;
     }
     
     .hero-image-1{
         width: 100%;
         height: 100%;
     }
     
.image-container{
    width: 45%;
    height: 100%;
    align-items: center;
}

.hero-image-2-container, .hero-image-3-container{
      width: 90%;
      height: 48%;
}

.hero-image-2, .hero-image-3{
    width: 100%;
    height: 100%;
}
     
     .hero-blurb{
         height: 20%;
     }
     
     .blurb-hr{
         width: 25%;
         margin-top: 15px;
     }
     
     .blurb-paragraph{
        padding-top: 5px;
         margin-top: 0;
         height: 90%;
         width: 95%;
         font-size: 14px;
         line-height: normal;
     } 
    
    }
    /* MEDIA BREAK MOBILE ENDS*/

    /* HERO SECTION ENDS */


    /* BEST-SELLER SECTION STARTS */
    .best-sellers{
        background: linear-gradient(180deg, #e5e3d7 60%, #fefefe 40%);
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    h2 { 
     font-family: 'Orbitron', sans-serif;
     font-size: 2rem;
     text-transform: uppercase;
    }

    h2::before,
    h2::after {
        display: inline-block;
        content: "";
        border-top: 2px solid black;
        width: 200px;
        margin: -8px 8px;
        transform: translateY(-1rem);
    }

    .best-seller-container{
        margin-top: -40px;
        width: 70%;
        height: 75%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        transition: 0.3s;
    }

    .best-1, .best-2, .best-3{
        box-shadow: 0 4px 8px 0 rgba(128,130,127);
        width: 30%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .best-seller-images{
        height: 80%;

    }

    .description{
        height: 7%;
        text-align: center;

    }

    .price{
        padding-left: 20px;
        padding-right: 20px;
        height: 7%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .old-price{
        font-weight: bold;
        opacity: 50%;
        text-decoration: line-through;
    }

    .new-price{
        font-weight: bold;

    }

    .best-seller-button{
        border: 2px solid black;
        width: 20%;
        height: 40px;
        margin-top: -30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* MEDIA BREAK 1100px STARTS*/
@media screen and (max-width: 1100px) {

    .best-sellers{
        height: 80vh;
    }

    h2::before,
    h2::after {
        width: 150px;
    }

    .best-seller-container{
        margin-top: -80px;
        width: 75%;
        height: 75%;
    }

    .best-1, .best-2, .best-3{
        /* padding: 5px 10px 5px 10px; */
        width: 26%;
        height: 85%;
    }

    .best-seller-button{
        margin-top: -70px;
        height: 30px;
        width: 25%;

    }

}
 /* MEDIA BREAK 1200px ENDS*/
  

 /* MEDIA BREAK TABS STARTS*/
@media screen and (max-width: 768px) {

    .best-sellers{
        background: linear-gradient(180deg, #e5e3d7 70%, #fefefe 30%);
        height: 140vh;
    }

    .best-seller-container{
        flex-wrap: wrap;
        margin-top: -150px;
        width: 80%;
        height: 80%;
    }

    h2{
        font-size: 1.6rem;
    }

    h2::before,
    h2::after {
        width: 100px;
    }

    .best-1, .best-2, .best-3{
        /* padding: 5px 10px 5px 10px; */
        width: 40%;
        height: 45%;
    }

    .best-seller-button{
        margin-top: -120px;
        height: 30px;
        width: 30%;

    }

}
 /* MEDIA BREAK TABS ENDS*/



/* MEDIA BREAK MOBILE STARTS*/
@media screen and (max-width: 480px) {
    .best-sellers{
        background: linear-gradient(180deg, #e5e3d7 70%, #fefefe 30%);
        height: 110vh;
    }

    .best-seller-container{
        margin-top: -100px;
        width: 95%;
        height: 80%;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    h2{
        font-size: 1.2rem;
    }

    h2::before,
    h2::after {
        width: 25px;
    }

    .best-1, .best-2, .best-3{
        /* padding: 5px 10px 5px 10px; */
        width: 45%;
        height: 40%;
    }

    .best-seller-images{
        height: 70%;

    }

    .description{
        height: 10%;
        margin-top: -10px;
        text-align: center;

    }

    .price{
        padding-left: 5px;
        padding-right: 5px;
        margin-top: -10px;
        height: 10%;
    }

    .old-price{
        font-weight: bold;
    }

    .new-price{
        font-weight: bold;

    }

    .best-seller-button{
        width: 40%;
        height: 30px;
        margin-top: -100px;
    }

}
/* MEDIA BREAK MOBILE ENDS*/

/* BEST-SELLER SECTION ENDS */



    
/* PRODUCTS SECTION STARTS */
    .products{
        height: 150vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .products-container{
        display: flex;
        flex: column;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-left: 15px;
        padding-right: 15px;
        width: 70%;
        height: 80%;
    }

    .product-list{
        box-shadow: 0 4px 8px 0 rgba(128,130,127);
        width: 27%;
        height: 45%;
    }

    .product-image{
        height: 80%;
    }

    .product-image-size{
        width: 100%;
        height: 100%;
    }

    .product-description{
        padding-top: 10px;
        text-align: center;
        height: 10%;

    }

    .product-cost{
        text-align: center;
        font-weight: bold;
        height: 10%;

    }

    .products-button{
        background-color: #7d827c;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 40px;
    }


    /* MEDIA BREAK 1100px STARTS*/

@media screen and (max-width: 1100px) {
    .products{
        height: 130vh;
    }

    .products-container{
        width: 75%;
    }

    .product-list{
        height: 46%;
        width: 28%;
    }

    .product-description{
        padding-top: 5px;
    }

    .product-cost{
        padding-bottom: 10px;
    }

}
 /* MEDIA BREAK 1100px ENDS*/
  

 /* MEDIA BREAK TABS STARTS*/
@media screen and (max-width: 768px) {
    .products{
        height: 120vh;
    }

    .products-container{
        height: 75%;
        width: 90%;
    }

    .product-list{
        height: 45%;
        width: 28%;
    }

    .product-description{
        padding-top: 5px;
    }

    .product-cost{
        padding-bottom: 10px;
    }

}
 /* MEDIA BREAK TABS ENDS*/



/* MEDIA BREAK MOBILE STARTS*/
@media screen and (max-width: 480px) {
    .products{
        height: 150vh;
        margin-top: -20px;

    }

    .products-container{
        padding-right: 5px;
        padding-left: 5px;
        width: 99%;
        height: 80%;
    }

    #product-h2{
        font-size: 1rem;
    }


    .product-list{
        box-shadow: 0 2px 4px 0 rgba(128,130,127);
        justify-content: space-between;
        height: 30%;
        width: 45%;
    }

    .product-description{
        padding-top: 0;
    }

    .product-cost{
        padding-bottom: 20px;
    }

    .products-container{
        width: 90%;
    }

    .products-button{
        width: 50%;
        height: 35px;
    }

}
/* MEDIA BREAK MOBILE ENDS*/

    /* PRODUCTS SECTION ENDS */



    /* FLYER SECTION STARTS */

    .flyer{
        /* background-color: #e4e2d6; */
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .flyer-content{
        background-color: #e4e2d6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%

    }

    .flyer-container-1, .flyer-container-2{
        display: flex;
        justify-content: center;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        height: 40%;
    }
     .flyer-container-2{
         flex-direction: row-reverse;
    } 

    .big-box{
        background-color: white;
        display: flex;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
        width: 65%;
        height: 90%;
        padding-left: 20px;
        padding-right: 20px;
    }

    #big-box{
        flex-direction: row-reverse;
    }

    .small-box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 90%;

    }

    .flyer-container-1-image{
        width: 60%;
        height: 60%;
    }

    .flyer-container-2-image{
        width: 70%;
        height: 70%;
    }

    .flyer-text{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 40%;
        height: 50%;

    }

    .big-box-image-container{
        width: 50%;
        height: 110%;
    }

    .flyer-image{
        width: 100%;
        height: 120%;
        margin-top: -50px;
    }

    .flyer-heading{
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
    font-weight: bold;

    }

    .flyer-hr{
        background-color: #807e78;
        width: 40%;

    }

    .flyer-paragraph{
        display: flex;
        justify-content: center;
    }

        /* MEDIA BREAK 1100px STARTS*/

@media screen and (max-width: 1100px) {
    .flyer{
        height: 70vh;
    }

    .flyer-content{
        height: 100%
    }

    .flyer-container-1, .flyer-container-2{
        width: 60%;
        height: 45%;
}

.flyer-text{
    width: 50%;
    height: 60%;
}

.flyer-heading{
    font-size: 1rem;

    }

    .flyer-paragraph{
        display: flex;
        justify-content: center;
    }

.flyer-image{
    width: 100%;
    height: 110%;
    margin-top: -30px;
}

 /* MEDIA BREAK 1100px ENDS*/
  

 /* MEDIA BREAK TABS STARTS*/
@media screen and (max-width: 768px) {

    .flyer{
      height: 70vh;
    }

    .flyer-content{
        height: 100%
    }

    .flyer-container-1, .flyer-container-2{
        width: 85%;
        height: 40%;
    }

    .flyer-text{
        width: 60% ;
        height: 70%;
    }

.flyer-heading{
    font-size: 0.9rem;
    width: 100%;
    text-align: center;

    }

    .flyer-paragraph{
        display: flex;
        justify-content: center;
    }


    .flyer-image{
        width: 100%;
        height: 120%;
        margin-top: -45px;
    }

}
 /* MEDIA BREAK TABS ENDS*/


/* MEDIA BREAK MOBILE STARTS*/
@media screen and (max-width: 480px) {
    .flyer{
        height: 70vh;
      }
  
      .flyer-content{
          width: 100%;
          height: 95%
      }
  
      .flyer-container-1, .flyer-container-2{
        padding: 0;
          width: 95%;
          height: 35%;
          justify-content: center;
      }

      .big-box{
        justify-content: space-between;
          width: 95%;
          height: 90%;
          padding-left: 2px;
          padding-right: 2px;
          
      }

      .small-box{
          display: none;
      }
  
      .flyer-text{
          justify-content: center;
          width: 48% ;
          height: 100%;
      }

      .flyer-heading{
        text-align: center;
        width: 100%;
         font-size: 12px;
      }

      .flyer-paragraph{
          align-items: center;
        width: 100%;
        font-size: 10px;
      }

      .big-box-image-container{
        width: 48%;
        height: 120%;
        margin-bottom: 20px;
    }
  
      .flyer-image{
          width: 100%;
          height: 120%;
          margin-top: -30px;
      }
}
}
/* MEDIA BREAK MOBILE ENDS*/
     /* FLYER SECTION ENDS */


 /* FAQ SECTION STARTS */
 .faq-container {
    margin: 0 auto;
    padding: 20px;
    width: 70% ;
  }

  #faq-h2{
      text-align: center;
      font-size: 30px;
  }
  #faq-h2::before,
  #faq-h2::after {
      display: inline-block;
      content: "";
      border-top: 2px solid black;
      width: 100px;
      margin: -8px 8px;
      transform: translateY(-1rem);
  }
  
  .accordion .accordion-item {
    border-bottom: 1px solid #7d827c;
  }
  
  .accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid #7d827c;
  }
  
  .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #848481;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
  }
  
  .accordion button:hover,
  .accordion button:focus {
    cursor: pointer;
    color: #7d827c;
  }
  
  .accordion button:hover::after,
  .accordion button:focus::after {
    cursor: pointer;
    color: #7d827c;
    border: 1px solid #7d827c;
  }
  
  .accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
  }
  
  .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
  }
  
  .accordion button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
  }
  .accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
  }
  
  .accordion button[aria-expanded='true'] {
    color: #7d827c;
  }
  .accordion button[aria-expanded='true'] .icon::after {
    width: 0;
  }
  .accordion button[aria-expanded='true'] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
  }

  @media screen and (max-width: 1100px) {

    .faq-container{
        width: 70%;
    }

      #faq-h2{
          font-size: 20px;
      }

      #faq-h2::before,
        #faq-h2::after {
         width: 50px;
         margin: -10px 10px;
        }
    }


    @media screen and (max-width: 768px) {

        #faq-h2{
            font-size: 16px;
            text-align: center;
        }

        #faq-h2::before,
        #faq-h2::after {
         width: 30px;
         margin: -10px 10px;
        }

    }



@media screen and (max-width: 480px) {

    .faq-container{
        width: 80%;
    }

      #faq-h2{
          width: 100%;
          font-size: 15px;
          text-align: center;
      }

      #faq-h2::before,
  #faq-h2::after {
    display: none;
  }

  .accordion .accordion-item {
    margin-left: -15px;
  }

  .accordion button .accordion-title {
      text-align: center;
    padding: 5px 2px 0 0;
    font-size: 15px;
  }

  .accordion button .icon {
    right: -15px;
  }

}
  
 /* FAQ SECTION ENDS */





 /* FOOTER SECTION STARTS */
    .footer{
        background-color: #383639;
        color: white ;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-container{
        width: 70%;
        height: 70%;
        display: flex;
        justify-content: center;
        justify-content: space-around;
        align-items: center;
    }

    .socials{
        width: 20%;
        height: 90%;
        display: flex;
        flex-direction: column;
       justify-content: center;
       align-items: center;
    }

    #footer-heading-1{
        font-family: 'Square Peg', cursive;
        font-size: 30px;

    }

    #footer-heading-2{
        font-family: 'Orbitron', sans-serif;
        font-size: 38px;
        margin-top: -18px ;
    }

    .footer-h3{
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;

    }

    .social-buttons{
        width: 25px;
        height: 25px;
    }

    .footer-menu{
        text-align: center;
        width: 22%;
        height: 90%;
    }

    .footer-ul{
        list-style: none;
        width: 70%;
    }

    .footer-li{
        text-align: center;
        margin-left: -20px;
        width: 100%;
    }

    .mission-statement{
        text-align: center;
        width: 22%;
        height: 90%;

    }

    .address{
        text-align: center;
        width: 22%;
        height: 90%;
    }

    .mission-paragraph, .address-paragraph{
        margin: 0;
        font-size: 12px;
        width: 100%;
    }

    .location-icon{
        width: 20px ;
        height: 20px ;
    }



        /* MEDIA BREAK 1100px STARTS*/

@media screen and (max-width: 1100px) {

    .footer-container{
        width: 80%;
    }

}

 /* MEDIA BREAK 1100px ENDS*/
  

 /* MEDIA BREAK TABS STARTS*/
@media screen and (max-width: 768px) {

    
    #footer-heading-1{
        font-family: 'Square Peg', cursive;
        font-size: 35px;
    }

    #footer-heading-2{
        font-family: 'Orbitron', sans-serif;
        font-size: 30px;
        margin-top: -18px ;
    }

    .social-buttons{
        width: 20px;
        height: 20px;
}
}
 /* MEDIA BREAK TABS ENDS*/



/* MEDIA BREAK MOBILE STARTS*/
@media screen and (max-width: 480px) {
    .footer{
        height: 70vh;
    }

    .footer-container{
        flex-direction: column-reverse;
        height: 100%;
        width: 95%;
    }

    .socials{
        width: 100%;
        height: 25%;

    }

    .footer-menu{
        display: none;
    }

    .mission-statement{
        width: 80%;
        height: 30%;
    }

    .address{
        width: 100%;
        height: 30%;
    }

    .mission-paragraph{
        margin-top: -10px;
        font-size: 12px;
        width: 100%;
    }
    
    .address-paragraph{
        margin-top: -10px;
        font-size: 12px;
        width: 100%;
    }

    .social-buttons{
        width: 30px;
        height: 30px;
}
}

/* MEDIA BREAK MOBILE ENDS*/

     /* FOOTER SECTION ENDS */

